.answers {
    text-align: center;
    display:inline-block;
    width:50%;
    font-size:26px;
    padding:10px;
    font-weight:bold;
    filter:drop-shadow(8px 8px 6px #777);
}

.answers > div {
    border:solid 2px gray;
    border-radius:15px;
}

.answers svg {
    font-size: 8vh;
}